language: python
python:
  - "3.6"
# command to install dependencies
cache: pip
install:
  - pip install -r requirements.txt
  - pip install -e .

# keep build from timing out
dist: xenial

# command to run tests
script:
  - pytest # or py.test for Python versions 3.5 and below
