language: python
python:
  - "3.6"
# command to install dependencies
cache: pip
install:
  - travis_wait 30
  - pip install -r requirements.txt
  - pip install -e .

# command to run tests
script:
  - pytest # or py.test for Python versions 3.5 and below
